<h1> Welcome to my web app - Rock Paper Scissors </h1>

<p> This page will allow you to play a game of 'Rock, Paper, Scissors'. Simply enter your two choices in the URL bar above, beginning each choice with '/'.
<br>
 An example input would be as follows:
<br>
http://localhost:4567/scissors/rock
<br>
The rules are as follows:
<br>
Scissors beats Paper.
<br>
Paper beats Rock.
<br>
Rock beats Scissors.
</p>
